.jupiter-card {
	padding: 1rem;
}

.jupiter-card h2 {
	font-size: 1rem;
}

.jupiter-card-header h1 {
	background: url(/textures/jupitermap.jpg);
	color: transparent;
	background-clip: text;
	background-position: 30%;
	background-size: 100% auto;
	font-size: 2rem;
}

.jupiter-card-body-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.jupiter-card-body-content > div {
	display: flex;
	align-content: flex-start;
	gap: 0.7rem;
}

.jupiter-temperature,
.jupiter-periodicity,
.jupiter-atmosphere,
.jupiter-composition,
.jupiter-distances,
.jupiter-satellites,
.jupiter-particularites,
.jupiter-diameter,
.jupiter-exploration {
	display: flex;
	flex-direction: column;
}

.jupiter-temperature-list,
.jupiter-periodicity-list,
.jupiter-atmosphere-list,
.jupiter-atmosphere-particularites,
.jupiter-satellites-list,
.jupiter-composition-list,
.jupiter-distances-list,
.jupiter-distances-terre,
.jupiter-diameter-list,
.jupiter-particularites-list,
.jupiter-atmosphere-couches,
.jupiter-exploration-list,
.jupiter-exploration-sondes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.jupiter-temperature-list li,
.jupiter-periodicity-list li,
.jupiter-atmosphere-list li,
.jupiter-atmosphere-particularites li,
.jupiter-satellites p,
.jupiter-satellites-list li,
.jupiter-composition-list li,
.jupiter-distances-terre li,
.jupiter-distances-list li,
.jupiter-particularites-list li,
.jupiter-diameter-list li,
.jupiter-atmosphere-couches li,
.jupiter-exploration p,
.jupiter-exploration-sondes li {
	text-decoration: none;
	list-style-type: none;
	margin-left: 1rem;
}
