.uranus-card {
	padding: 1rem;
}

.uranus-card h2 {
	font-size: 1rem;
}

.uranus-card-header h1 {
	background: url(/textures/uranusmap.jpg);
	color: transparent;
	background-clip: text;
	background-position: 30%;
	background-size: 100% auto;
	font-size: 2rem;
}

.uranus-card-body-content {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 auto;
	margin-top: 1rem;
	width: 90%;
}

.uranus-card-body-content > div {
	display: flex;
	align-content: flex-start;
	gap: 0.7rem;
}

.uranus-temperature,
.uranus-periodicity,
.uranus-atmosphere,
.uranus-satellites,
.uranus-rings,
.uranus-composition,
.uranus-distances,
.uranus-particularites,
.uranus-exploration {
	display: flex;
	flex-direction: column;
}

.uranus-temperature-list,
.uranus-periodicity-list,
.uranus-atmosphere-list,
.uranus-satellites-list,
.uranus-rings-list,
.uranus-composition-list,
.uranus-distances-list,
.uranus-distances-terre,
.uranus-particularites-list,
.uranus-exploration-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.uranus-temperature-list li,
.uranus-periodicity-list li,
.uranus-satellites-list li,
.uranus-rings-list li,
.uranus-composition-list li,
.uranus-distances-list li,
.uranus-particularites-list li,
.uranus-exploration-list li {
	text-decoration: none;
	list-style-type: none;
	margin-left: 1rem;
}

.uranus-distances-terre li,
.uranus-exploration-sondes,
.uranus-atmosphere-list li,
.uranus-atmosphere-particularites,
.uranus-exploration-sondes {
	text-decoration: none;
	list-style-type: none;
	margin-left: 2rem;
}

.uranus-atmosphere > h2:not(:first-child),
.uranus-satellites > *:not(:first-child),
.uranus-rings > *:not(:first-child),
.uranus-exploration > *:not(:first-child),
.uranus-exploration-sondes li {
	margin-left: 1rem;
}

@media screen and (width > 1068px) {
	.uranus-card {
		height: 100vh;
		overflow-y: scroll;
	}
}
